<style>
    .filter {
       margin-bottom: 0.5cm;
    }
  
    .nav-commessaAdd {
       margin-right: 0px;
    }
  </style>
  <div class="container">
  <div class="panel panel-primary">
      <div class="panel-heading">
          <h2>Elenco Commesse</h2>
      </div>
  
      <form (ngSubmit)="onSubmit()">
          <div class="filter">
              <input type="text" class="form-control" id="filter" name="filter" [(ngModel)]="filter" placeholder="Filtra commesse">
          </div>
          <button type="submit" class="btn btn-success">Filtra</button>
      </form>
  
      &nbsp;
      <label><input type="radio" name="radio" [(ngModel)]="radio" value="0"> Codice</label>
      &nbsp;
      <label><input type="radio" name="radio" [(ngModel)]="radio" value="1"> Descrizione Commessa</label>
      &nbsp;
      <label><input type="radio" name="radio" [(ngModel)]="radio" value="2"> Tipologia Commessa</label>
      &nbsp;
      <!-- <label><input type="radio" name="radio" [(ngModel)]="radio" value="3"> Data Inizio</label>
      &nbsp;
      <label><input type="radio" name="radio" [(ngModel)]="radio" value="4"> Data Fine</label>
      &nbsp;
      <label><input type="radio" name="radio" [(ngModel)]="radio" value="5"> pec</label>
      &nbsp; -->
      <div class="panel-body">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Cliente</th>
                      <th>Tipologia Commessa</th>
                      <th>Codice</th>
                      <th>Risorse Associate</th>
                      <th>Tariffa Giornaliera(€)</th>
                      <th>Costo Giornaliero</th>
                      <th>Giornate Erogate</th>
                      <th>Ricavo Riorsa</th>
                      <th>Costo Risorsa</th>
                  </tr>
              </thead>
            <tbody>
                <!-- <ng-container *ngFor= "let dipendente of dipArray; let i = index"> -->
                <ng-container *ngFor="let commessa of listaCommesse">
                    <tr *ngIf="commessa.active!=0">
                        <td>
                            <ng-container *ngIf="commessa.cliente.ragioneSociale!=null">{{commessa.cliente.ragioneSociale}}</ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="commessa.tipologiaCommessa!=null">{{commessa.tipologiaCommessa}}</ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="commessa.codice!=null">{{commessa.codice}}</ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="commessa.nomeDipendente!=null">{{commessa.nomeDipendente}}</ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="commessa.dipendenteCommesse[0]!=null">{{commessa.dipendenteCommesse[0].tariffaGg}}</ng-container>
                            <ng-container *ngIf="commessa.dipendenteCommesse[1]!=null">{{", " + commessa.dipendenteCommesse[1].tariffaGg}}</ng-container>
                            <ng-container *ngIf="commessa.dipendenteCommesse[2]!=null">{{", " + commessa.dipendenteCommesse[2].tariffaGg}}</ng-container>
                            <ng-container *ngIf="commessa.dipendenteCommesse[3]!=null">{{", " + commessa.dipendenteCommesse[3].tariffaGg}}</ng-container>
                            <ng-container *ngIf="commessa.dipendenteCommesse[4]!=null">{{", " + commessa.dipendenteCommesse[4].tariffaGg}}</ng-container>
                            <ng-container *ngIf="commessa.dipendenteCommesse[5]!=null">{{", " + commessa.dipendenteCommesse[5].tariffaGg}}</ng-container>
                            <ng-container *ngIf="commessa.dipendenteCommesse[6]!=null">{{", " + commessa.dipendenteCommesse[6].tariffaGg}}</ng-container>
                            <ng-container *ngIf="commessa.dipendenteCommesse[7]!=null">{{", " + commessa.dipendenteCommesse[7].tariffaGg}}</ng-container>
                            <ng-container *ngIf="commessa.dipendenteCommesse[8]!=null">{{", " + commessa.dipendenteCommesse[8].tariffaGg}}</ng-container>
                            <ng-container *ngIf="commessa.dipendenteCommesse[9]!=null">{{", " + commessa.dipendenteCommesse[9].tariffaGg}}</ng-container>
                            <ng-container *ngIf="commessa.dipendenteCommesse[10]!=null">{{", " + commessa.dipendenteCommesse[10].tariffaGg}}</ng-container>
                            <!-- <ng-container *ngFor="let dipendenti of commessa.dipendenteCommesse">{{dipendenti.tariffaGg}}</ng-container> -->
                        </td>
                        <td>...</td>
                        <td>
                            <ng-container *ngIf="commessa.dipendenteCommesse[0]!=null">{{giornateErogate(commessa.dipendenteCommesse[0].dataInizioAttivita)}}</ng-container>
                        </td>
                        <td>...</td>
                        <td>...</td>
                        <td>
                            <button (click)="onArchivia(commessa, commessa.codice)" class="btn btn-danger">Archivia</button>
                            &nbsp;&nbsp;
                            <button (click)="onUpdate(commessa.codice)" class="btn btn-info">Modifica</button>
                        </td>
                    </tr>
                </ng-container>
                <!-- </ng-container> -->
            </tbody>
          </table>
          <!-- {{listaCommesse|json}} -->
      </div>
  </div>
  </div>
  